openapi: 3.0.0
info:
  title: core api
  description: use firebase authentication and redis server
  version: 1.0.0
servers:
  - url: 'http://localhost:{port}/core/'
    description: dev
    variables:
      port:
        default: '8080'
  - url: 'https://api.<domain-name>/core/'
    description: stg

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - bearerAuth: []

paths:
  # /healthcheck: # api-gatewayでエンドポイントを/v1/を指定しているため
  /v1/healthcheck:
    get:
      tags:
        - healthcheck
      summary: ヘルスチェックAPI
      description: APIが正常に動作しているかを確認します。
      operationId: healthcheck
      responses:
        '200':
          description: API is up and running
          content:
            application/json:
              schema:
                $ref: './api/responses/HealthCheck.yaml'
      security: []  # healthcheckでは認証を必要としないため

  # ユーザ系API
  /v1/users:
    $ref: './api/v1/users/paths/User.yaml'
  # /v1/users/me:
    # $ref: './api/v1/users/paths/Me.yaml'
