[mysqld]
# MySQLサーバーの設定

# デフォルトストレージエンジンの設定
default-storage-engine=INNODB

# 文字コードと照合順序の設定
character-set-server=utf8mb4
collation-server=utf8mb4_0900_ai_ci

# generalログの設定
general_log=1
general_log_file=/var/log/mysql/general.log

# pidファイルの場所の設定
pid-file=/var/run/mysqld/mysqld.pid

# デフォルトタイムゾーンの設定
default-time-zone='+00:00'

# 認証プラグインの設定
default-authentication-plugin=mysql_native_password

# SQLモードの設定
sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION

[client]
# MySQLクライアントの設定

# デフォルト文字コードの設定
default-character-set=utf8mb4
